#qustion {
    font-size: 24px;
    text-align: center;
    color: #0077b3;
    text-decoration: underline;
    font-weight: bold;
}
.feed_atr{
    font-size: 24px;
    text-align: center;
    color: #0077b3;
}
input:hover{
background-color:#d9d9d9;
color:#003d66;
}
div.vertical{
 position:relative;
  width:200px;
  float:left;
 }
 div.vertical ul{
  list-style-type:none;
  }
  div.vertical li{
  position:relative;
  }
  div.vertical a{
   display:block;
   color:#eee;
   text-decoration:none;
   padding:10px 15px;
   background-color: #8c8c8c;
   border:1px solid;
   } 
 /* ALL A HOVER */
    div.vertical li:hover > a{
    background:#000;
    }

  .numbers{
    font-weight: bold;
    font-size: 30px;
    text-align: center;
    color: #0077b3;
  }
          
.right-column{
 font-size: 20px;
 text-align: center;
 color: #0077b3;
}  
hr{
  border: 0;
   height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}        
#title{
  font-weight: bold;
    font-size: 30px;
    text-align: center;
    color: #8c8c8c;
}

  }
  .firstline{
    font-size: 25px;
    text-align: center;
    color: #8c8c8c;
  }
.box_number1:hover{
background-color: lightgrey;
bottom:-4%;
}
.box_number2:hover{
background-color: lightgrey;
bottom:-4%;
}
.box_number3:hover{
background-color: lightgrey;
bottom:-43%;
}
.box_feedback:hover{
background-color: lightgrey;
bottom:-43%;

}
p.box{
	font-size: 90%;
	text-align:center;
	margin-top: 77%;
	color: #000000;

}
p.feedback_box{
	font-size: 90%;
	text-align:center;
	margin-top: 80%;
	color: #000000;
}
.box_number1 {
    background-color: #ffffff;
    background-image: url(../images/pic1.gif);
    background-size: 100%;
    background-repeat: no-repeat;
    position: absolute;
    height: 35%;
    width: 17%;
    left: 30%;
    bottom: -5%;
    border: 2px solid gray;


}

.box_number2{
	background-color: #ffffff;
    background-image: url(../images/pic4.gif);
	background-size: 100%;
    position: absolute;
    height: 35%;
    width: 17%;
    left: 50%;
    bottom: -5%;
    border: 2px solid gray;
    line-height: 20%;
    text-align: center;

}
.box_number3{
	background-color: #ffffff;
    background-image: url(../images/pic5.gif);
	background-size: 100%;
    position: absolute;
    height: 35%;
    width: 17%;
    left: 30%;
    bottom: -44%;
    border: 2px solid gray;
    line-height: 20%;
    text-align: center;
}

.box_feedback{
	background-color: #ffffff;
    background-image: url(../images/pic2.gif);
    background-size: 95%;
    position: absolute;
    height: 35%;
    width: 17%;
    left: 50%;
    bottom: -44%;
    border: 2px solid gray;
    line-height: 20%;
    text-align: center;
}

header {
    background-image: url(../images/Healthcare.jpg);
    color: #ffffff;
    background-size: 100%;
    background-repeat: no-repeat;
    padding: 15%;
}
footer {
    background-color:#4ec4c8;
    clear:both;
    color: #ffffff;
    padding:3%; 
}
section {
    float:initial;
    padding:10%; 
}
#indexsection {
    float:initial;
    padding:20%; 
}
nav {
    line-height:100%;
    height:100%;
    width:20%;
    float:left;
    padding:-1%;	      
}