/*---------------------------------------------------------------------------------------------------------*/
                                               /*Page Layout*/
/*---------------------------------------------------------------------------------------------------------*/
header {
    background-image: url(../images/Healthcare.jpg);
    color: #ffffff;
    background-size: 100%;
    background-repeat: no-repeat;
    padding: 15%;
}
footer {
    background-color:#4ec4c8;
    clear:both;
    color: #ffffff;
    padding:3%;
}
section {
    padding:10%;
}
#indexsection {
    float:initial;
    padding:25%;
}
nav {
    line-height:100%;
    height:100%;
    width:20%;
    float:left;
    padding:-1%;
}
/*---------------------------------------------------------------------------------------------------------*/
                                               /*Index boxes*/
/*---------------------------------------------------------------------------------------------------------*/
.box_number1 {
    background-color: #ffffff;
    background-image: url(../images/pic1.gif);
    background-size: 100%;
    background-repeat: no-repeat;
    position: absolute;
    height: 35%;
    width: 17%;
    margin-top: -14%;
    margin-left: 5%;
    border: 2px solid #808080;
}
.box_number2{
	  background-color: #ffffff;
    background-image: url(../images/pic4.gif);
	  background-size: 100%;
	  background-repeat: no-repeat;
    position: absolute;
    height: 35%;
    width: 17%;
    margin-top: -14%;
    margin-left: 25%;
    border: 2px solid #808080;
}
.box_number3{
	  background-color: #ffffff;
    background-image: url(../images/pic5.gif);
	  background-size: 100%;
    background-repeat: no-repeat;
    position: absolute;
    height: 35%;
    width: 17%;
    margin-top: 5%;
    margin-left: 5%;
    border: 2px solid gray;
}
.box_feedback{
	  background-color: #ffffff;
    background-image: url(../images/pic2.gif);
    background-size: 95%;
    background-repeat: no-repeat;
    position: absolute;
    height: 35%;
    width: 17%;
    margin-top: 5%;
    margin-left: 25%;
    border: 2px solid gray;
}
.box_description{
   position: absolute;
   margin-top: -24%;
   margin-left: -24.7%;
   width:98.6%;
   height: 12%;
   border:2px solid gray;
}
/*---------------------------------------------------------------------------------------------------------*/
                                                  /* Pages Buttons*/
/*---------------------------------------------------------------------------------------------------------*/
.box1_smaller{
	background-color: #ffffff;
    background-image: url(../images/pic1.gif);
    background-size: 100%;
    background-repeat: no-repeat;
    width: 1%;
    margin-top: -12%;
    margin-left: 109%;
    padding: 1%;
    padding-bottom: 1.2%;
}
.box2_smaller{
	background-color: #ffffff;
    background-image: url(../images/pic4.gif);
    background-size: 100%;
    background-repeat: no-repeat;
    width: 1%;
    margin-top: -2.3%;
    margin-left: 106%;
    padding: 1%;
    padding-bottom: 1.2%;
}
.box3_smaller{
	background-color: #ffffff;
    background-image: url(../images/pic5.gif);
    background-size: 100%;
    background-repeat: no-repeat;
    width: 1%;
    margin-top: -2.2%;
    margin-left: 102.5%;
    padding: 1%;
    padding-bottom: 1.3%;
}
.box4_smaller{
	background-color: #ffffff;
    background-image: url(../images/pic2.gif);
    background-size: 100%;
    background-repeat: no-repeat;
    width: 1%;
    margin-top: -2.3%;
    margin-left: 99.1%;
    padding: 1%;
    padding-bottom: 1.3%;
}
#up{
   position:fixed;
   background-image: url(../images/up.gif);
    width:217px;
    height:217px;
    right:-95px;
    top:100px;
    background-size:100px 100px;
    background-repeat: no-repeat;
}
/*---------------------------------------------------------------------------------------------------------*/
                                               /*hover*/
/*---------------------------------------------------------------------------------------------------------*/
div.vertical li:hover a{
    background:#000;
}
input:hover{
background-color:#d9d9d9;
color:#003d66;
}
.box_number1:hover{
background-color: lightgrey;
margin-top: -15%;
}
.box_number2:hover{
background-color: lightgrey;
margin-top: -15%;
}
.box_number3:hover{
background-color: lightgrey;
margin-top: 4%;
}
.box_feedback:hover{
background-color: lightgrey;
margin-top: 4%;
}
/*---------------------------------------------------------------------------------------------------------*/
                                               /*vertical*/
/*---------------------------------------------------------------------------------------------------------*/
div.vertical{
 position:relative;
  width:200px;
  float:left;
}
div.vertical ul{
  list-style-type:none;
}
div.vertical li{
  position:relative;
}
div.vertical a{
   display:block;
   color:#eee;
   text-decoration:none;
   padding:10px 15px;
   background-color: #8c8c8c;
   border:1px solid;
}
/*---------------------------------------------------------------------------------------------------------*/
                                                 /*Fonts*/
/*---------------------------------------------------------------------------------------------------------*/
#qustion {
    font-size: 24px;
    text-align: center;
    color: #0077b3;
    text-decoration: underline;
    font-weight: bold;
}
.feed_atr{
    font-size: 24px;
    text-align: center;
    color: #0077b3;
}
.numbers{
    font-weight: bold;
    font-size: 30px;
    text-align: center;
    color: #0077b3;
}
.right-column{
 font-size: 20px;
 text-align: center;
 color: #0077b3;
}
#title{
  font-weight: bold;
    font-size: 30px;
    text-align: center;
    color: #8c8c8c;
}
.firstline{
    font-size: 25px;
    text-align: center;
    color: #8c8c8c;
}
p.box{
	font-size: 90%;
	text-align:center;
  position: inherit;
	margin-top: 77%;
	color: #000000;
}
p.Other_box{
	font-size: 100%;
	text-align:center;
  position: inherit;
	margin-top: 69%;
  margin-left: 34%;
	color: #000000;
}
/*---------------------------------------------------------------------------------------------------------*/
                                               /*horizantal line*/
/*---------------------------------------------------------------------------------------------------------*/
hr{
  border: 0;
   height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}
/*---------------------------------------------------------------------------------------------------------*/
